body {
    width: 100%;
    position: relative;
    min-width: 1280px;
}

.top {
    padding-top: 10px;
    overflow: hidden;
}

.Name {
    width: 60%;
    display: inline-block;
}

.Search {
    width: 37%;
    text-align: right;
    display: inline-block;
}

.Search form {
    background: #f0fae5;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 0 0;
}

.Search form input {
    line-height: 34px;
    left: 9px;
    top: 0;
    white-space: nowrap;
    right: 9px;
    height: 35px;
    width: 94%;
    padding: 0 3% 0 3%;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: #ccc;
    font-weight: 400;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#MainMenu {
    background-color: rgb(221, 240, 206);
    height: 60px;
    margin: 10px 0 0 0;
    padding: 5px;
}

#MainMenu a {
    display: inline-block;
    flex: none;
    height: 50px;
    width: 340px;
    background-color: rgb(95, 151, 123);
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    text-decoration: none;
    justify-content: center;
    padding: 5px;
    border-radius: 2px;
}

#MainMenu a:hover {
    background-color: rgb(3, 73, 38);
}

.MainContent {
    margin-top: 20px;
    width: 100%;
    position: relative;
    min-width: 1280px;
    background-color: #f6f6f6;
}

.sidebar {
    border-radius: 3px;
    width: 15%;
    display: inline-block;
    /* text-align: top; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    /* position: relative; */
    /* height: 600px; */
    position: sticky;
    top: 0;
    vertical-align: top;
}

.dateTitle {
    background-color: rgb(150, 185, 125);
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: block;
    padding-left: 4px;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #efefef;
    /* position: sticky;
    top: 0; */
}

.dateDetail {
    overflow: auto;
    height: 600px;
}

#dateContent {
    background-color: rgb(221, 240, 206);
    font-weight: bold;
    color: #000;
    display: block;
    padding-left: 4px;
    font-weight: 400;
    display: block;
    font-size: 1.2em;
    line-height: 1.9em;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.middleInfo {
    /* display: block; */
    margin-left: 5px;
    border-radius: 3px;
    width: 80%;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
}

.InfoTitle {
    display: block;
    line-height: 24px;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    background: #fbfbfb;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    color: #8590a6;
    font-size: 15px;
    border: 1px solid #e7eaf1;
    box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
    /* box-sizing: border-box; */
}

.infoAddressTitle {
    font-weight: bold;
    color: #000;
    display: inline-block;
    width: 20%;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
}

.infoCompanyTitle {
    font-weight: bold;
    color: #000;
    display: inline-block;
    width: 30%;
    border-left: 1px solid #cccbcb;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
}

#dataInfo {
    overflow: auto;
    height: 1000px;
}

.infoJobTitle {
    font-weight: bold;
    color: #000;
    display: inline-block;
    width: 30%;
    border-left: 1px solid #cccbcb;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
}

.infoHerfTitle {
    font-weight: bold;
    color: #000;
    display: inline-block;
    width: 18%;
    border-left: 1px solid #cccbcb;
    text-align: center;
    text-decoration: none;
    text-align: center;
    font-size: 1.25em;
}

.infoDetial {
    overflow: auto;
    display: block;
    border-bottom: 1px solid #efefef;
    background-color: #fff;
    margin-top: 2px;
    line-height: 30px;
}

.infoAddress {
    display: inline-block;
    width: 20.8%;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.infoCompany {
    display: inline-block;
    width: 31.1%;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.infoJob {
    display: inline-block;
    width: 30%;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.infoHerf {
    display: inline-block;
    width: 18%;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.infoHerf:hover {
    color: rgb(15, 143, 228);
}

.footer {
    width: 100%;
}

.acknowledge {
    color: rgb(221, 240, 206);
    font-size: 1.25em;
    text-align: center;
}