body {
    width: 100%;
    position: relative;
    min-width: 1280px;
}

.top {
    padding-top: 10px;
    overflow: hidden;
}

.Name {
    width: 60%;
    display: inline-block;
}

.Search {
    width: 37%;
    text-align: right;
    display: inline-block;
}

.Search form {
    background: #f0fae5;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 0 0;
}

.Search form input {
    line-height: 34px;
    left: 9px;
    top: 0;
    white-space: nowrap;
    right: 9px;
    height: 35px;
    width: 94%;
    padding: 0 3% 0 3%;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    color: #ccc;
    font-weight: 400;
    font-size: 1em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#MainContent {
    background-color: rgb(221, 240, 206);
    height: 60px;
    margin: 10px 0 0 0;
    padding: 5px;
}

#MainContent a {
    display: inline-block;
    flex: none;
    height: 50px;
    width: 240px;
    background-color: rgb(95, 151, 123);
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 1.5em;
    text-decoration: none;
    justify-content: center;
    padding: 5px;
    border-radius: 2px;
}

#MainContent a:hover {
    background-color: rgb(3, 73, 38);
}

.footer {
    width: 100%;
}

.acknowledge {
    color: rgb(221, 240, 206);
    font-size: 1.25em;
    text-align: center;
}